@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@350&display=swap');

 * {
        font-family: 'Roboto Slab';
}

.or{
        color: orange;
}

.title{
        font-weight: 800;
        font-size: 2em;
}

.footer .rfoo {
        color: white;
        font-size: 1em;
}

.button {
        color: black;
        font-weight: 800;
        font-size: 1.1em;
}

h,.sc {
        font-size: 1.1em;
}